In [1]:
import pandas as pd
import numpy as np
import sklearn

In [2]:
df = pd.read_csv("/content/students_placement.csv")

In [3]:
df.head()

   cgpa   iq  profile_score  placed
0  5.97  106             61       0
1  6.83  113             77       0
2  6.60  110             61       0
3  5.54  113             68       0
4  6.84  102             67       0

In [4]:
## we need to predict that either student will get placed or not 
X = df.drop(columns="placed")

In [5]:
X.head()

   cgpa   iq  profile_score
0  5.97  106             61
1  6.83  113             77
2  6.60  110             61
3  5.54  113             68
4  6.84  102             67

In [6]:
Y = df['placed']
Y

0      0
1      0
2      0
3      0
4      0
      ..
295    0
296    0
297    1
298    1
299    0
Name: placed, Length: 300, dtype: int64

In [7]:
df.corr()

                   cgpa        iq  profile_score    placed
cgpa           1.000000 -0.730260      -0.036060  0.667078
iq            -0.730260  1.000000      -0.077748 -0.758508
profile_score -0.036060 -0.077748       1.000000  0.021235
placed         0.667078 -0.758508       0.021235  1.000000

In [8]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,Y,test_size=0.2,random_state=2)

In [9]:
# hence all the factors i can see are playing a role in predicting that student will get placed or not 
#from sklearn.linear_model import LinearRegression

#reg = LinearRegression().fit(X_train,y_train)

In [10]:
df.shape

(300, 4)

In [11]:
## we can see that linear regression is not performing well let's try another algorithm 
from sklearn.ensemble import RandomForestClassifier
from sklearn.datasets import make_classification
from sklearn.metrics import accuracy_score
clf = RandomForestClassifier()

clf.fit(X_train,y_train)
y_pred = clf.predict(X_test)
accuracy_score(y_test,y_pred)

0.9

In [12]:
## As Random forest model is giving us good accuracy we will go with this model further

In [14]:
import pickle 
pickle.dump(clf,open('model.pkl','wb'))